<secction>
  <div class="account">
    <h1>編集</h1>
  </div>
</secction>

<secction>
  <div class="user_container">
    <div class="columns is-centered">
      <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :ユーザーネーム, class: "label" %>
          <%= f.text_field :username, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス, class: "label" %>
          <%= f.text_field :email, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :自己紹介, class: "label" %>
          <%= f.text_area :profile, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :プロフィール画像, class: "label" %>
          <%= f.file_field :profile_image, class: "input" %>
        </div>

        <%= f.submit "変更する", class: "button is-success" %>
      <% end %>
    </div>
  </div>
</secction>