<section>
  <% if current_user == nil %>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="title section columns is-centered under_line">
              <h2>プロフィール</h2>
            </div>
            <div class="field select_image">
              <p class="label">プロフィール画像</p>
              <p><%= attachment_image_tag @user, :profile_image, class: "select_image under_line", fallback: "no-image.png" %></p>
            </div>

            <div class="field select_image  under_line">
              <p class="label">名前</p>
              <p><%= @user.username %></p>
            </div>

            <div class="field introduction">
              <p class="label">自己紹介</p>
              <p><%= @user.profile%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="section">
      <div class="container">
        <div class="option_content">
          <div class="columns is-centered">
            <div class="column is-6">
              <div class="title section under_line">
                <h2>プロフィール</h2>
              </div>
              
              <div class="field select_image">
                <p class="label">プロフィール画像</p>
                <p><%= attachment_image_tag @user, :profile_image,  fallback: "no-image.png" %></p>
              </div>

              <div class="field select_image under_line">
                <p class="label">名前</p>
                <p><%= @user.username %></p>
              </div>

              <div class="field introduction">
                <p class="label">自己紹介</p>
                <p><%= @user.profile%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>