<div class="search_container">
  <div class="half">
    <%= form_tag(rooms_path, :method => "get") do %>
      <div class="search_form">
        <%= text_field_tag :area_search, params[:area_search], placeholder: "地域を入力" %>
      </div>
      <div>
        <%= submit_tag "エリアを検索", :place => nil, class: "button" %>
      </div>
    <% end %>
  </div>
</div>


<section>
  <div class="section">
    <div class="title section columns is-centered under_line">
      <h2>おすすめエリア</h2>
    </div>

    <div class="area_container section">
      <label>
        <%= form_tag(rooms_path, :method => "get") do %>
          <div class="search_form">
            <button class="area_content">
              <%= text_field_tag :area_search, params[:area_search], value: "東京都", readonly: true, class: "none" %>
              <%= submit_tag "エリアを検索", :place => nil, class: "button none" %>
              <div class="title">東京</div>
              <div class= "area_image" ><%= image_tag("tokyo.png") %></div>
              
            </button>
          </div>
        <% end %>
      </label>
      
      <label>
        <%= form_tag(rooms_path, :method => "get") do %>
          <div class="search_form">
            <button class="area_content">
              <%= text_field_tag :area_search, params[:area_search], value: "大阪府", readonly: true, class: "none" %>
              <%= submit_tag "エリアを検索", :place => nil, class: "button none" %>
              <div class="title">大阪</div>
              <%= image_tag("osaka.png") %>
            </button>
          </div>
        <% end %>
      </label>

      <label>
        <%= form_tag(rooms_path, :method => "get") do %>
          <div class="search_form">
            <button class="area_content">
              <%= text_field_tag :area_search, params[:area_search], value: "京都府", readonly: true, class: "none" %>
              <%= submit_tag "エリアを検索", :place => nil, class: "button none" %>
              <div class="title">京都</div>
              <%= image_tag("kyoto.png") %>
            </button>
          </div>
        <% end %>
      </label>

      <label>
        <%= form_tag(rooms_path, :method => "get") do %>
          <div class="search_form">
            <button class="area_content">
              <%= text_field_tag :area_search, params[:area_search], value: "札幌市", readonly: true, class: "none" %>
              <%= submit_tag "エリアを検索", :place => nil, class: "button none" %>
              <div class="title">札幌</div>
              <%= image_tag("sapporo.png") %>
            </button>
          </div>
        <% end %>
      </label>
    </div>
  </div>
</section>
