<section>
  <div class="section">
    <div class="container">
      <div class="option_flame is-centered">
        <div class="option_content half">
          <%= form_for [@room, @reservation], url: room_reservations_path(@room) do |f| %>
            <div class="title section">予約確認フォーム</div>
            <div class="reservation_show_flame" id="reservationForm">
              <div class="field">
                <%= f.label :チェックイン, class: "label" %>
                <%= f.date_field :check_in, value: session[:reservation_data]["check_in"], readonly: true, class: "hidden" %>
              </div>

              <div class="field">
                <%= f.label :チェックアウト, class: "label" %>
                <%= f.date_field :check_out, value: session[:reservation_data]["check_out"], readonly: true, class: "hidden"  %>
              </div>
              
              <div class="field">
                <%= f.label :利用人数, class: "label" %>
                <%= f.text_field :guest, placeholder: "人数を入力", value: session[:reservation_data]["guest"], readonly: true, class: "hidden"  %>
              </div>
            </div>

            <div class="reservation_show_flame">
              <div class="field">
                <div class="font_weight">宿泊日数</div>
                <div><%= number_to_currency((@reservation.check_out - @reservation.check_in).to_i, precision: 0, unit: "泊", format: "  %n %u") %></div>
              </div>
            </div>
                
            <div class="reservation_show_flame">
              <div class="field">
                <div class="font_weight">料金（1人/1泊）</div>
                <div class="room_price">
                  <%= number_to_currency(@room.price.to_s(:delimited), precision: 0, unit: "¥", format: "%u %n ~" ) %>
                </div>
              </div>

              <div class="field">
                <div class="font_weight">合計金額</div>
                <div class="room_price">
                  <%= number_to_currency(@room.price * @reservation.guest * (@reservation.check_out - @reservation.check_in).to_i, precision: 0, unit: "¥", format: "%u %n ~") %>
                </div>
              </div>
            </div>

            <div class="actions reservation_confirmation_button">
              <%= f.submit "この内容で予約する", data: { confirm: "予約を確定します。よろしいですか？" }, class: "button is-warning" %>
              <%= link_to "やめる", :back, class: "button", data: { "turbolinks" => false } %>
            </div>
          <% end %>
        </div>

        <div class="option_content">
          <div class="title section under_line">
            <h2>施設詳細</h2>
          </div>

          <div class="field">
            <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
          </div>
              
          <div class="field room_name">
            <%= @room.room_name %>
          </div>

          <div class="field">
            <%= @room.place %>
          </div>

          <div class="field room_details">
            <%= @room.room_details %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>