<section>
  <div class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="wrapper">
            <%= form_for @reservation do |f|%>
              <div class="title section columns is-centered">
                <h2>予約情報の編集</h2>
              </div>

              <div class="field">
                <%= f.label :チェックイン, class: "font_weight" %><span class="required_mark">※入力必須</span>
                <%= f.date_field :check_in, class: "input" %>
              </div>

              <div class="field">
                <%= f.label :チェックアウト, class: "font_weight" %><span class="required_mark">チェクイン以降の日付を選択してください</span><span class="required_mark">※入力必須</span>
                <%= f.date_field :check_out, class: "input" %>
              </div>

              <div class="field">
                <%= f.label :宿泊人数, class: "font_weight" %><span class="required_mark">※入力必須</span>
                <%= f.number_field :guest, class: "input", placeholder: "宿泊人数を入力" %>
              </div>

              <div class="actions">
                <%= f.submit "保存", class: "button is-success" %>
              </div>
              
              <div class="actions">
                <%= link_to "キャンセル", reservations_path, class: "button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
