<section>
  <div class="section">
    <div class="title section columns is-centered under_line">
      <h2>予約一覧</h2>
    </div>

    <div class="container">
      <div class="reservation_index_flame under_line">
        <div class="reservation_content">
          <div class="label">チェックイン</div>
          <div class="label">チェックアウト</div>
          <div class="label">宿泊人数</div>
          <div class="label">施設画像</div>
          <div class="label">予約の削除</div>
          <div class="label">予約の詳細</div>
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <% @reservations.each do |reservation| %>
          <div class="reservation_index_flame under_line">
            <div class="reservation_content">
              <div>
                <div class="label"><%= reservation.check_in %></div>
              </div>

              <div>
                <div class="label"><%= reservation.check_out %></div>
              </div>

              <div>
                <div class="label"><%= reservation.guest %></div>
              </div>

              <div>
              <div class="label"><%= reservation.room.room_name %></div>
              </div>

              <div>
              <div><%= attachment_image_tag reservation.room, :image, fallback: "no-image.png" if reservation.room.present? %></div>
              </div>

              <div>
                <div class="label">合計金額: <%= number_to_currency(reservation.room.price * reservation.guest, precision: 0, unit: "¥", format: "%u %n") %></div>
              </div>
          
              <div>
              <%= link_to "予約削除", reservation_path(reservation), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "button is-danger" %>
                
              </div>

              <div>
                <%= link_to "予約詳細", reservation_path(reservation), class: "button is-info" %>
              </div>
              <div>
              <%= link_to "予約編集", edit_reservation_path(reservation), class: "button is-warning" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>