<section>
  <div class="section">
    <div class="title section columns is-centered">
      <h2>予約一覧</h2>
    </div>

    
    <div class="reservation_index_flame under_line">
      <div class="reservation_content">
        <div class="reservation_index_items font_weight">施設名</div>
        <div class="reservation_index_items font_weight">施設画像</div>
        <div class="reservation_index_items font_weight">施設紹介</div>
        <div class="reservation_index_items font_weight">チェックイン</div>
        <div class="reservation_index_items font_weight">チェックアウト</div>
        <div class="reservation_index_items font_weight">合計金額</div>
        <div class="reservation_index_items font_weight">予約確定日</div>
        <div class="reservation_index_items font_weight">予約の詳細</div>
      </div>
    </div>

    <div>
      <% @reservations.each do |reservation| %>
        <div class="reservation_index_flame">
          <div class="reservation_content">
            <div class="reservation_index_items">
              <%= reservation.room.room_name %>
            </div>

            <div class="reservation_index_items">
              <%= attachment_image_tag reservation.room, :image, fallback: "no-image.png" if reservation.room.present? %>
            </div>

            <div class="reservation_index_items reservation_index_details" >
              <%= reservation.room.room_details %>
            </div>

            <div class="reservation_index_items">
              <%= reservation.check_in.strftime("%Y/%m/%d") %>
            </div>

            <div class="reservation_index_items">
              <%= reservation.check_out.strftime("%Y/%m/%d") %>
            </div>
              
            <div class="reservation_index_items">
              <%= number_to_currency(reservation.room.price * reservation.guest * (reservation.check_out - reservation.check_in).to_i, precision: 0, unit: "¥", format: "%u %n ~") %>
            </div>

            <div class="reservation_index_items">
              <%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %>
            </div>

            <div class="reservation_index_items">
              <%= link_to "予約詳細をみる", reservation_path(reservation) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>