<section>
  <% if current_user == nil %>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <%= form_for @reservation do |f| %>
              <div class="wrapper">
                <div class="field">
                  <%= f.label :チェックイン %>
                  <%= f.date_field :check_in %>
                </div>
    
                <div class="field">
                  <%= f.label :チェックアウト %>
                  <%= f.date_field :check_in %>
                </div>

                <div class="field">
                  <%= f.label :利用人数 %>
                  <%= f.text_field :guest %>
                </div>
                
                <div class="actions">
                  <%= link_to "ログイン", new_user_session_path, class: "button is-success" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <%= form_for @reservation do |f| %>
              <div class="wrapper">
                <div class="field">
                  <%= f.label :チェックイン %>
                  <%= f.date_field :check_in %>
                </div>
          
                <div class="field">
                  <%= f.label :チェックアウト %>
                  <%= f.date_field :check_out %>
                </div>

                <div class="field">
                  <%= f.label :利用人数 %>
                  <%= f.text_field :guest %>
                </div>
                      
                <div class="actions">
                  <%= f.submit "予約する", class: "button" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>