<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>
<%= link_to "test"%>
<%= current_user.username %>

<section>
  <div class="section">
    <div class="container">
      <div class="option_flame is-centered">
          <div class="option_content">
            <p class="title section">予約</p>
            <p>予約エリア</p>
            <p>予約するボタン</p>
          </div>

          <div class="option_content">
            <div class="title section under_line">
              <h2>施設詳細</h2>
            </div>

            <div class="field">
              <p class="label">チェックイン</p>
              <p><%= @reservation.check_in %></p>
            </div>

            <div class="field">
              <p class="label">チェックアウト</p>
              <p><%= @reservation.check_out %></p>
            </div>

            <div class="field">
              <p class="label"> 宿泊人数</p>
              <p><%= @reservation.guest %></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>


