<section>
  <div class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="wrapper">
              <div class="title section columns is-centered">
                <h2>ログイン</h2>
              </div>
              
              <div class="field">
                <%= f.label :メールアドレス, class: "label" %>
                <%= f.email_field :email, autocomplete: "email", class: "input" %>
              </div>
  
              <div class="field">
                <%= f.label :パスワード, class: "label" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
              </div>
              
              <div class="actions">
                <%= f.submit "ログイン", class: "button is-success" %>
              </div>

              <div class="actions">
                <%= link_to "新しいアカウントを作成", new_user_registration_path, class: "button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>