<div class="search_container">
  <div class="label">検索結果
    <div class="search_sum">
      <%= number_to_currency(@room.to_s, precision: 0, format: "%n  件 見つかりました" ) %>
    </div>
  </div>
  <div class="half">
    <%= form_tag(rooms_path, :method => "get") do %>
      <div class="search_form">
        <%= text_field_tag :search, "", placeholder: "地域を入力" %>
      </div>
      <div>
        <%= submit_tag "施設を検索", :place => nil, class: "button" %>
      </div>
    <% end %>
  </div>
</div>

<section>
  <div class="section">
    <div class="title section columns is-centered under_line">
      <h2>施設一覧</h2>
    </div>
    <div class="section">
      <div class="room_container">
        <% @rooms.each do |room| %>
          <div class="room_content">
            <div class="room_image under_line">
              <div class="field">
                <%= attachment_image_tag room, :image, fallback: "no-image.png" %>
              </div>
            </div>
            <div class="room_section">
              <div class="field room_name">
                <%= link_to room.room_name, room %>
              </div>

              <div class="field option_flame">
                <%= room.place %>
              </div>

              <div class="field room_details">
                <%= room.room_details %>
              </div>

              <div class="field room_show">
                <div class="room_price">
                  <%= number_to_currency(room.price.to_s(:delimited), precision: 0, unit: "¥", format: "%u %n ~" ) %>
                </div>
                
                <div>
                  <%= link_to "詳細情報", room, class: "button is-success" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>