<section>
  <div class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="wrapper">
            <%= form_for @room do |f|%>
              <div class="title section columns is-centered">
                <h2>施設の新規登録</h2>
              </div>

              <div class="field">
                <%= f.label :施設名, class: "font_weight" %><span class="required_mark">入力必須</span>
                <%= f.text_field :room_name, class: "input", placeholder: "ルーム名を入力" %>
              </div>

              <div class="field">
                <%= f.label :施設紹介, class: "font_weight" %><span class="required_mark">入力必須</span>
                <%= f.text_area :room_details, class: "input", placeholder: "施設紹介を入力" %>
              </div>

              <div class="field">
                <%= f.label :宿泊料金, class: "font_weight" %><span class="required_mark">入力必須</span><span class="required_mark">( 1円以上 )</span>
                <%= f.text_field :price, class: "input", placeholder: "1日あたりの料金を入力" %>
              </div>

              <div class="field">
                <%= f.label :住所, class: "font_weight" %><span class="required_mark">入力必須</span>
                <%= f.text_field :place, class: "input", placeholder: "住所を入力" %>
              </div>

              <div class="field">
                <%= f.label :施設画像, class: "label" %>
                <label class="file_upload"><%= f.file_field :image %>画像をアップロード</label>
              </div>
              
              <div class="actions">
                <%= f.submit "施設を登録する", class: "button is-success" %>
              </div>
              
              <div class="actions">
                <%= link_to "キャンセル", :back, class: "button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>