<section>
  <% if current_user == nil %>
    <div class="section">
      <div class="container">
        <div class="option_flame is-centered">
          <div class="option_content half">
            <div class="title section">
              <p>予約</p>
            </div>
            <%= form_for [@room, @reservation], url: confirm_reservation_room_path(@room), method: :post do |f| %>
              <div class="section">
                <div class="reservation_form section">
                  
                  <div class="field">
                    <%= f.label :チェックイン, class: "label" %>
                    <%= f.date_field :check_in %>
                  </div>

                  <div class="field">
                    <%= f.label :チェックアウト, class: "label" %>
                    <%= f.date_field :check_out %>
                  </div>

                  <div class="field">
                    <%= f.label :利用人数, class: "label" %>
                    <%= f.text_field :guest, :placeholder => "人数を入力" %>
                  </div>
                  
                </div>

                <div class="actions">
                  <%= link_to "ログイン", new_user_session_path, class: "button is-success" %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="option_content">
            <div class="title section under_line">
              <h2>施設詳細</h2>
            </div>

            <div class="field">
              <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
            </div>
            
            <div class="field room_name">
              <%= @room.room_name %>
            </div>

            <div class="field">
              <%= @room.place %>
            </div>

            <div class="field room_details">
              <%= @room.room_details %>
            </div>

            <div class="field room_show">
              <div class="room_price">
                <%= number_to_currency(@room.price.to_s(:delimited), precision: 0, unit: "¥", format: "%u %n ~" ) %>
              </div>
              
              <div class="select_image">
                <%= link_to "戻る", :back, class: "button is-success" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="section">
      <div class="container">
        <div class="option_flame is-centered">
          <div class="option_content half">
            <%= form_for [@room, @reservation], url: confirm_reservation_room_path(@room), method: :post do |f| %>
              <div class="section">
                <div class="title section">
                  このホテルを予約する
                </div>
                <div class="reservation_form">
                  <div class="field">
                    <%= f.label :チェックイン, class: "font_weight" %>
                    <%= f.date_field :check_in, required: true, min: Date.current, id: "check-in-date" %>
                  </div>

                  <div class="field">
                    <%= f.label :チェックアウト, class: "font_weight" %>
                    <%= f.date_field :check_out, required: true, min: f.object.check_in || Date.current, id: "check-out-date" %>
                  </div>

                  <div class="field">
                    <%= f.label :利用人数, class: "font_weight" %>
                    <%= f.text_field :guest, required: true, min: 1, type: "number", placeholder: "人数を入力" %>
                  </div>
                </div>

                <div class="required_mark validates_message">チェックイン / チェックアウト / 利用人数は入力必須項目です</div>
                
                <div class="required_mark validates_message">チェックアウトはチェックイン以降の日付を選択してください</div>
                
                <div class="actions section">
                  <%= f.submit "このホテルを予約する", class: "button is-success" %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="option_content">
            <div class="title section under_line">
              <h2>施設詳細</h2>
            </div>

            <div class="field">
              <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
            </div>
              
            <div class="field room_name">
              <%= @room.room_name %>
            </div>

            <div class="field">
              <%= @room.place %>
            </div>

            <div class="field room_details">
              <%= @room.room_details %>
            </div>

            <div class="field room_show">
              <div class="room_price">
                <%= number_to_currency(@room.price.to_s(:delimited), precision: 0, unit: "¥", format: "%u %n ~" ) %>
              </div>
                
              <div class="select_image">
                <%= link_to "戻る", :back, class: "button is-success" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>