<secction>
  <div class="account">
    <h1>施設詳細</h1>
  </div>
</secction>

<div class="room_container">
  <div class="room_content">
    <div class="room_image">
      <%= attachment_image_tag @room, :image %>
    </div>
    <div class="room_wrapper">
      <div class="room_name">
        <%= @room.room_name %>
      </div>
      <div class="room_details">
        <p style="white-space:pre-wrap;"><%= @room.room_details %></p>
      </div>
      <div>
        <span>宿泊料金（ 1人 / 1泊 ）<%= @room.price %>円</span>
      </div>
      <div>
        <span>住所：<%= @room.place %></span>
      </div>
      <div class="room_editor">
        <div>
          <span>投稿者<%= @room.user.username %></span>
        </div>
        <div>
          <% if @room.user.id == current_user.id %>
            <%= link_to "編集", edit_room_path(@room), class: "button is-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>