<section>
  <% if current_user == nil %>
    <div class="section">
      <div class="container">
        <div class="option_flame is-centered">
        
          <div class="option_content">
            <p class="title section">予約</p>
            <p>予約エリア</p>
            <p><%= link_to "ログイン", new_user_session_path, class: "button is-success" %></p>
          </div>

          <div class="option_content">
            <div class="title section under_line">
              <h2>施設詳細</h2>
            </div>

            <div class="field">
              <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
            </div>
            
            <div class="field room_name">
              <%= @room.room_name %>
            </div>

            <div class="field">
              <%= @room.place %>
            </div>

            <div class="field room_details">
              <%= @room.room_details %>
            </div>

            <div class="field room_show">
              <div class="room_price">
                <span>¥<%= @room.price %>~</span>
              </div>
              
              <div class="select_image">
                <%= link_to "戻る", rooms_path, class: "button" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <% if @room.user.id != current_user.id %>
      <div class="section">
        <div class="container">
          <div class="option_flame is-centered">
            <% if @room.user.id != current_user.id %>
              <div class="option_content">
                <p class="title section">予約</p>
                <p>予約エリア</p>
                <p>予約するボタン</p>
              </div>

              <div class="option_content">
                <div class="title section under_line">
                  <h2>施設詳細</h2>
                </div>

                <div class="field">
                  <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
                </div>
                
                <div class="field room_name">
                  <%= @room.room_name %>
                </div>

                <div class="field">
                  <%= @room.place %>
                </div>

                <div class="field room_details">
                  <%= @room.room_details %>
                </div>

                <div class="field room_show">
                  <div class="room_price">
                    <span>¥<%= @room.price %>~</span>
                  </div>
                  
                  <div class="select_image">
                    <%= link_to "戻る", rooms_path, class: "button" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% else %>

      <div class="section">
        <div class="container">
          <div class="option_flame is-centered">
            <% if @room.user.id == current_user.id %>
              <div class="option_content">
                <p class="title section">予約</p>
                <p>予約エリア</p>
                <p>予約するボタン</p>
              </div>

              <div class="option_content">
                <div class="title section under_line">
                  <h2>施設詳細</h2>
                </div>

                <div class="field">
                  <%= attachment_image_tag @room, :image, fallback: "no-image.png" %>
                </div>
                
                <div class="field room_name">
                  <%= @room.room_name %>
                </div>

                <div class="field">
                  <%= @room.place %>
                </div>

                <div class="field room_details">
                  <%= @room.room_details %>
                </div>

                <div class="field room_show">
                  <div class="room_price">
                    <span>¥<%= @room.price %>~</span>
                  </div>
                  
                  <div class="select_image">
                    <%= link_to "編集", edit_room_path(@room), class: "button is-success" %>
                    <%= link_to "戻る", rooms_path, class: "button" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>