<!DOCTYPE html>
<html>
  <head>
    <title>Reservationapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="nav_header">
      <div class="nav_content">
        <h1><%= link_to "宿泊予約アプリ", root_path, class: "app_name" %></h1>
        <% if user_signed_in? %>
          <div class="dropdown">
            <div class="btn dropdown-toggle login_user" data-bs-toggle="dropdown">
              <%= attachment_image_tag current_user, :profile_image, class: "login_icon", fallback: "no-image.png" %>
              <%= link_to current_user, class: "login_user" do %>
                <%= current_user.username %>
              <% end %>
            </div>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user, class: "dropdown-item" %></li>
              <li><%= link_to "アカウント", account_path, class: "dropdown-item" %></li>
              <li><%= link_to "登録施設一覧", user_room_path, class: "dropdown-item" %></li>
              <li><%= link_to "施設を登録する", new_room_path, class: "dropdown-item" %></li>
              <li><%= link_to "予約一覧", reservations_path, class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item", method: :delete, data: {confirm: "ログアウトしてもよろしいですか？"} %></li>
            </ul>
          </div>
        <% else %>
          <div class="nav_buttons">
            <div>
              <%= link_to "ログイン", new_user_session_path, class: "button is-success" %>
            </div>
            <div>
              <%= link_to "新規登録", new_user_registration_path, class: "button is-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>